
@import url("basic.css");
@import url("result.css");

main{
	display: flex;
	flex-direction: column;
	margin:1.5%;
	justify-content: center;
	align-items: center;
  min-height:73vh;
}

#showquoteresult{
  margin:0;
}

.buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  min-height:15%;
  margin: 3% 0%;
}

.buttons div{
  margin-top: 1%;
  width:40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
}

.goto{
  font-family:monospace;
  border-radius: 2px;
  background-color: white;
  border: 1px double black;
}
