
@import url("basic.css");
@import url("orderdetail.css");
@import url("result.css");
@import url("buttons.css");

#showquoteresult{
  display: none;
  margin:0;
}

.buttons{
  display: flex;
  flex-direction: column;
  min-height:20%;
  margin: 3% 0%;
}

.buttons div{
  width:60%;
  margin-top: 5%;
}

#inputcode,
.goto{
  outline: none;
  text-align: center;
}
